.category-color {
    color: #3880ff;
}

.img-radius{
    border-radius: 15px !important;
    overflow: hidden;
}


.ion-icon{
    width: 42px;
    height: 42px;
    font-size: 42px;
    color: grey;
}

