.flexCenter{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flexBetween{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flexEvenly{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}