:root{
    --greyColor:#e0e0e0;
}

.flexCenter{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flexBetween{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flexEvenly{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

hr{
    height: 1px;
    background-color: var(--greyColor);
}

.greyColor{
    color: var(--greyColor);
}

.smallText{
    font-size: 12px;
}